.*
*~
core
core.*
.project
.cproject
Doxyfile
.DS_Store
gmon.out
*.graphml
*.jmk
*.jst
*.jup
log
*.log
*.o
*.orig
*.so
tags
kernel_tester
*.bkp
*.diff
*.rej
dbgen/qgen
dbgen/dbgen
generated_data/
env/
results.json
__pycache__/
drivers/__pycache__/
ssb-test.duckdb*
